# StockSense Environment Configuration Template
PORT=3333
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.3inswud.mongodb.net/stocksense?retryWrites=true&w=majority&appName=Cluster0
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.3inswud.mongodb.net/stocksense?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=stocksense-demo-dev-secret-min-32-chars!!
